<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>API Doc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/styles/main.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to API Documentation server 🚧 👍</h1>
      <!-- Your API documentation content here -->
      <div class="endpoint">
        <h2>GET /api-doc</h2>
        <p>Returns the API documentation page</p>
        <pre><code>curl -X GET http://localhost:3000/api-doc</code></pre>
      </div>
    </div>
  </body>
</html>
